﻿@model Order
<h2>Check out now</h2>
<p>Please enter your details, and we will contact you as soon as we can!</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Recruit for</h3>
    <div class="form-group">
        <label>Contact Name:</label>
        <input asp-for="ContactName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Company Name:</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label>Line 1:</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 2:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 3:</label>
        <input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            <input asp-for="ContactAsap" />
            Contact Immediately?
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>


