﻿@model IEnumerable<Order>

@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}

@if(Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Company Name</th><th>Zip</th><th>Email</th><th colspan="2">Details</th><th></th></tr>

        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.CompanyName</td>
                <td>@o.Zip</td>
                <td>@o.Email</td>
                <th>New Hire</th>
                <th>Quantity</th>

                <td>
                    <form asp-action="MarkContacted" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderId" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Contact
                        </button>
                    </form>
                </td>
            </tr>

            @foreach (CartLine line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.ParkRanger.FirstName</td>
                    <td>@line.ParkRanger.LastName</td>
                    <td>@line.Quantity</td>
                    <td></td>
                </tr>
            }

        }

    </table>
}
else
{
    <div class="text-center">No New Hires</div>
}

