﻿@model IEnumerable<Product>

@{Layout = null;}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Working with Visual Studio</title>
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <script src="~/js/bundle.min.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
