﻿@model ParkRangerListViewModel

@foreach (ParkRanger pr in Model.ParkRangers)
{
    @Html.Partial("ParkRangerSummary", pr);
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn=default"
     page-class-selected="btn-primary" class="btn-group pull-right">

</div>




<!--


<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Park Rangers</title>
</head>
<body>
    <h1 class="text-center">Park Rangers</h1>
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>State</td>

            <td>Bachelor Degree?</td>
        </tr>

        @foreach (ParkRanger pr in Model.ParkRangers)
        {
            <tr>
                <td>@pr.FirstName</td>
                <td>@pr.LastName</td>
                <td>@pr.State</td>
                <td>@pr.BachelorDegree</td>

            </tr>
        }

    </table>

</body>
</html>

-->
