﻿@model  Product


@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with Visual Studio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="panel-body">

    <h3>Create Product</h3>
    <form asp-action="AddProduct" method="post">    
        
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />

        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-action="Index" class="btn btn-primary">Cancel</a>

    </form>

</body>
</html>

