﻿@model IEnumerable<Product>

@{Layout = null;}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Working with Visual Studio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/js/bundle.min.js"></script>
</head>
<body class="panel-body">
    <h3 class="text-center">Products</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">Add New Product</a>
    </div>

</body>
</html>
