﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        <h4>We're going to have an exciting party!</h4> 
    </div>

    <div class="text-center">
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP now</a>
    </div>
    

</body>
</html>
