﻿
@model GuestResponse

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>

    <div class="panel panel-success">

        <div class="panel-heading text-center">
            RSVP
        </div>

        <div class="panel-body">

            <form asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label asp-for="Name">Your Name:</label>
                        <input class="form-control" asp-for="Name">
                    </p>
                </div>
                
                <div class="form-group">
                    <p>
                        <label asp-for="Email">Your Email:</label>
                        <input class="form-control" asp-for="Email">
                    </p>
                </div>
                
                <div class="form-group">
                    <p>
                        <label asp-for="Phone">Your Phone Number:</label>
                        <input class="form-control" asp-for="Phone">
                    </p>
                </div>
               
                <div class="form-group">
                    <p>
                        <label asp-for="WillAttend">Will you attend?:</label>
                        <select class="form-control" asp-for="WillAttend">
                            <option value="">Choose an option</option>
                            <option value="true">Yes, I'll be there</option>
                            <option value="false">No, I can't come</option>
                        </select>
                    </p>
                </div>

                
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit RSVP</button>
                </div>
                

            </form>

        </div>

        

    </div>

    

</body>
</html>
