﻿
<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Park Ranger Finder</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand center-block" href="#">Park Ranger Info</a>

        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary");
        </div>

    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            <p>
                Welcome to the Park Ranger finder!
                Within this website you can find hundreds of Park Rangers that you can hire!</a>
            </p>
            @await Component.InvokeAsync("NavigationMenu");
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>


</body>
</html>

