﻿@model IEnumerable<Title>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Titles</title>
</head>
<body>

    <h1>Titles</h1>
    <table>
        <tr>
            <td>Title Name</td>
            <td>Pages</td>
            <td>Price</td>
            <td>Sales</td>
        </tr>

        @foreach (Title t in Model)
        {
            <tr>
                <td>@t.TitleName</td>
                <td>@(t.Pages ?? 0)</td>
                <td>@($"{t.Price ?? 0:C2}")</td>
                <td>@(t.Sales ?? 0)</td>

          </tr>
        }

    </table>

</body>
</html>