﻿@model StateParksListViewModel

@foreach (StatePark sp in Model.StateParks)
{
    @Html.Partial("StateParkSummary", sp);
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn=default"
     page-class-selected="btn-primary" class="btn-group pull-right">

</div>

<!--


<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>State Parks</title>
</head>
<body>
    <h1 class="text-center">State Parks</h1>

    
    @foreach (StatePark sp in Model.StateParks)
    {
        <h2 class="text-center">@sp.Name (Name of State Park), @sp.State (Name of State)</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <td class="text-center"><h3>Activity</h3></td>
                    <td><h3>Materials Provided?</h3></td>
                </tr>
            </thead>



            @foreach (StateParkActivity spa in sp.StateParkActivity)
            {
                <tr class="text-center">
                    <td>@spa.ParkActivity.Name</td>
                    <td>@spa.ParkActivity.MaterialsProvided</td>
                </tr>
            }

        </table>
    }

</body>
</html>

-->
