﻿@model ParkRanger

@{
    ViewBag.Title = "Edit Park Ranger";
    Layout = "_AdminLayout";
}

<form method="post" asp-action="Edit">
    <input asp-for="@Model.ParkRangerId" type="hidden" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="State"></label>
        <div><span asp-validation-for="State" class="text-danger"></span></div>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BachelorDegree"></label>
        <div><span asp-validation-for="BachelorDegree" class="text-danger"></span></div>
        <input asp-for="BachelorDegree" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Bio"></label>
        <div><span asp-validation-for="Bio" class="text-danger"></span></div>
        <input asp-for="Bio" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleSun"></label>
        <div><span asp-validation-for="ScheduleSun" class="text-danger"></span></div>
        <input asp-for="ScheduleSun" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleMon"></label>
        <div><span asp-validation-for="ScheduleMon" class="text-danger"></span></div>
        <input asp-for="ScheduleMon" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleTue"></label>
        <div><span asp-validation-for="ScheduleTue" class="text-danger"></span></div>
        <input asp-for="ScheduleTue" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleWed"></label>
        <div><span asp-validation-for="ScheduleWed" class="text-danger"></span></div>
        <input asp-for="ScheduleWed" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleThur"></label>
        <div><span asp-validation-for="ScheduleThur" class="text-danger"></span></div>
        <input asp-for="ScheduleThur" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleFri"></label>
        <div><span asp-validation-for="ScheduleFri" class="text-danger"></span></div>
        <input asp-for="ScheduleFri" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ScheduleSat"></label>
        <div><span asp-validation-for="ScheduleSat" class="text-danger"></span></div>
        <input asp-for="ScheduleSat" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>
