﻿@model ParkRanger

@{
    ViewBag.Title = "Edit Park Ranger";
    Layout = "_AdminLayout";
}

<form method="post" asp-action="Edit">
    <input asp-for="@Model.ParkRangerId" type="hidden" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="State"></label>
        <div><span asp-validation-for="State" class="text-danger"></span></div>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BachelorDegree"></label>
        <div><span asp-validation-for="BachelorDegree" class="text-danger"></span></div>
        <input asp-for="BachelorDegree" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>
