﻿@model IEnumerable<ParkRanger>

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "All Park Rangers";
}

<table class="table table-striped table-bordered table-sm">

    <tr>
        <th class="text-right">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="text-right">State</th>
        <th class="text-right">Bachelor Degree Status</th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach (ParkRanger item in Model)
    {
    <tr>
        <td class="text-right">@item.ParkRangerId</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td class="text-right">@item.State</td>
        <td class="text-right">@item.BachelorDegree</td>
        <td class="text-center">
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                   asp-route-parkrangerid="@item.ParkRangerId">
                    Edit
                </a>
                <input type="hidden" name="ParkRangerId" value="@item.ParkRangerId" />
                <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form>

        </td>

    </tr>
    }

</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add New Park Ranger</a>
</div>

