﻿
@model CDResponse

<html xmlns="http://www.w3.org/1999/xhtml">
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<head>
    <title>CDForm</title>
</head>
<body>

    <div class="panel-body panel-success">

        <div class="text-center">
            <h2>Add a CD</h2>
        </div>

        <div class="panel-body">

            <form asp-action="CDForm" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label asp-for="Bank">Bank</label>
                        <select class="form-control" asp-for="Bank">
                            <option value="">Choose a Bank</option>
                            <option value="Altra FCU">Altra FCU</option>
                            <option value="Wells Fargo">Wells Fargo</option>
                            <option value="BMO Harris">BMO Harris</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Term">Term(Months)</label>
                        <select class="form-control" asp-for="Term">
                            <option value="">Choose a Term</option>
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="48">48</option>
                            <option value="60">60</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Rate">Rate(%)</label>
                        <input class="form-control" asp-for="Rate" />
                    </p>

                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="DepositAmount">Deposit Amount</label>
                        <input class="form-control" asp-for="DepositAmount" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="PurchaseDate">Purchase Date</label>
                        <input class="form-control" asp-for="PurchaseDate" value="mm/dd/yyyy" />
                    </p>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Add CD</button>
                </div>

            </form>

        </div>

    </div>
</body>
</html>
