﻿@model IEnumerable<CDResponse>

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<head>
    <title>CD Tracker</title>
</head>
<body>
    <div class="text-center">
        <h1>My CD Portfolio</h1>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="CDForm">Add a CD</a>
    </div>

    <div>
        @if (Model == null)
        {
            <h2>No CDs currently in the portfolio</h2>
        }

    </div>
    @if (Model != null)
    {
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Bank</th>
                    <th>Term(Months)</th>
                    <th>Rate</th>
                    <th>Purchase Date</th>
                    <th>Maturity Date</th>
                    <th>Deposit Amount</th>
                    <th>Value at Maturity</th>
                </tr>

            </thead>
            <tbody>


                @foreach (CDPortfolio.Models.CDResponse r in Model)
                {
                    <tr>
                        <td>@r.Bank</td>
                        <td>@r.Term</td>
                        <td>@r.Rate</td>
                        <td>@r.PurchaseDate</td>
                        <td>@r.MaturityDate</td>
                        <td>@r.DepositAmount</td>
                        <td>@r.MaturityValue</td>
                    </tr>
                }


            </tbody>
        </table>
    }

</body>
</html>


