﻿@model IEnumerable<string>

<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="ParkRanger"
   asp-route-state="">
    Home
</a>

@foreach (string state in Model)
{
    <a class="btn btn-block
       @(state == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
       asp-action="List"
       asp-controller="ParkRanger"
       asp-route-state="@state"
       asp-route-pageId="1">
        @state
    </a>
}