﻿@model IEnumerable<Product>

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "All Products";
}

<table class="table table-striped table-bordered table-sm">

    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Prices</th>
        <th class="text-center">Actions</th>
    </tr>

    @foreach(Product item in Model)
    {
        <tr>
            <td class="text-right">@item.ProductId</td>
            <td>@item.Name</td>
            <td class="text-right">@($"{item.Price:C2}")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@item.ProductId">
                        Edit
                    </a>
                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
                
            </td>

        </tr>
    }

</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>
