﻿@model ParkRanger

<div class="well">
    <h3>
        <strong>@Model.LastName, @Model.FirstName</strong>
        <span class="pull-right label label-primary">
            <strong>Bachelors Degree? : </strong>
            @Model.BachelorDegree
        </span>
    </h3>

    <form id="@Model.ParkRangerId" asp-action="AddToCart"
        asp-controller="Cart" method="post">

        <input type="hidden" asp-for="ParkRangerId" />
        <input type="hidden" name="returnURL"
               value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

        <span class="lead">
            @Model.State
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Add To Hiring List
            </button>
        </span>
    </form>

</div>


