﻿
<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>State Parks</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">State Park Info</a>
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            <p>
                Welcome to the State Park finder!
                Within this website you can find hundreds of <a href="https://localhost:5001/StatePark/List">State Parks</a>
                or <a href="https://localhost:5001/ParkRanger/List">Park Rangers</a>
            </p>
            @await Component.InvokeAsync("NavigationMenu");
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>


</body>
</html>

