﻿@model StatePark

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @Model.State
        </span>
    </h3>

    <span class="lead"> @Model.Address</span>

</div>

