﻿@model CartIndexViewModel

<h2>Hiring List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="text-right">Bachelor Degree?</th>
            <th class="text-right">State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.ParkRanger.FirstName</td>
            <td class="text-left">@line.ParkRanger.LastName</td>
            <td class="text-right">@line.ParkRanger.BachelorDegree</td>
            <td class="text-right">@line.ParkRanger.State</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total Employees:</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue()</td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnURL">Continue Shopping</a>
</div>