﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <style>
        #mainDiv{ 
            padding: 20px;
            font-size: 20px;
            text-align: center;
        }

        h1{
            padding: 8px;
            text-align: center;
        }

        #parksections{
            padding: 20px;
            border: solid black;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>State Park Information</h1>
    <div id="mainDiv">
       
            @RenderBody()
        
    </div>
</body>
</html>
