﻿@model Cart

<div class="">

    @if (Model.Lines.Count() > 0)
    {
    <small class="navbar-text">
        <b>Your Recruits:</b>
        @Model.Lines.Sum(x => x.Quantity) hire(s)
    </small>
    }

    <a class="btn btn-default navbar-btn" asp-controller="Cart"
       asp-action="Index" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-male"></i>
    </a>

</div>

