﻿@model ProfileIndexViewModel

<div class="well">
    @foreach (var line in Model.Profile.Lines)
    {


        <h2>@line.ParkRanger.FirstName @line.ParkRanger.LastName</h2>
        
        <body>
            <p><b>State of Employment:</b> @line.ParkRanger.State</p>
            <p><b>Bachelor Degree:</b> @line.ParkRanger.BachelorDegree</p>
            <h4>Bio:</h4>
            <p>@line.ParkRanger.Bio</p>
            <h4>Schedule:</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@line.ParkRanger.ScheduleSun</td>
                        <td>@line.ParkRanger.ScheduleMon</td>
                        <td>@line.ParkRanger.ScheduleTue</td>
                        <td>@line.ParkRanger.ScheduleWed</td>
                        <td>@line.ParkRanger.ScheduleThur</td>
                        <td>@line.ParkRanger.ScheduleFri</td>
                        <td>@line.ParkRanger.ScheduleSat</td>
                    </tr>
                </tbody>

            </table>
        </body>

        <form id="@line.ParkRanger.ParkRangerId" asp-action="AddToCart"
              asp-controller="Cart" method="post">

            <input type="hidden" asp-for="@line.ParkRanger.ParkRangerId" />
            <input type="hidden" name="returnURL"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <button type="submit" class="btn btn-success btn-sm pull-right">
                View Hiring List
            </button>
        </form>

    }



    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnURL">Continue Viewing Applicants</a>
    </div>

</div>
