﻿
@model Statepark[]


@{
    ViewBag.Title = "State Park Buddy";
}

<p>
    Day: @ViewBag.Day
</p>

<p>
    @switch (ViewBag.Announcement)
    {
        case "Sunday":
            @: Enjoy the weekend while you can!
            break;
        case "Monday":
            @: Looks like someone has a case of the Mondays!
            break;
        case "Tuesday":
            @: Get some Tacos after you visit!
            break;
        case "Wednesday":
            @: Hump Day!
            break;
        case "Thursday":
            @: Friday's less popular brother! Weekend's almost here!
            break;
        case "Friday":
            @: Get to hiking!
            break;
        case "Saturday":
            @: Don't forget your fishing rod!
            break;
        default:
            @: @ViewBag.StockLevel Another great day!
            break;
    }
</p>

<p>
    Date: @ViewBag.Date
</p>

<p>
    Weather Forecast:

    @switch (ViewBag.Weather)
    {
        case "Sunny":
            @: It's a good day for a hike!
            break;

        case "Cloudy":
            @: Try to get some fishing in!
            break;
        case "Raining":
            @: Don't forget your umbrella!
            break;
        default:
            @: @ViewBag.StockLevel It's a beautiful day!
            break;
    }
</p>

@foreach (Statepark sp in Model)
{
    <div id="parksections">
        <p>
            Park Name: @sp.ParkName
        </p>

        <p>
            Park Location: @sp.ParkLocation
        </p>

        <p>
            Park Price: @($"{sp.ParkPrice:C2}")
        </p>

        <p>
            Park Info: @sp.ParkInfo
        </p>
    </div>


}