﻿@model ParkRanger

<div class="well">
    <h3>
        <strong>@Model.LastName, @Model.FirstName</strong>
        <span class="pull-right label label-primary">
            <strong>Bachelors Degree? : </strong>
            @Model.BachelorDegree
        </span>
    </h3>

    <span class="lead"> @Model.State</span>

</div>


